body, html {
    height: 100%;
    }
    .bg1 {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd19-minty-03-leaf_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=6b2b2262dc4437eb7db3c9123a4932f6");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
  }